{% extends 'mysite/main.html' %}
{% load static %}
{% block content %}

<section>
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters">
			<div class="col-md-4 d-flex align-items-stretch">
				<div class="about text-center px-2 px-lg-5">
			     <div class="col-md-3 ftco-animate">
			</div>
			<img src="{% static 'images/spa-1.jpg' %}">
					<div class="text mt-4">
						<h3 class="mb-4"><b>EXPLORE YOUR NATURAL ESCENCE</b></h3>
						<p class="mb-5">
At CHRISTYS we have come a long way in ensuring that all our clients get value for money and great service while at it.I personally took the lead with ensuring that our staff fully understand the core values at Christy… Values such as excellence in their work, kindness, warmth, team work just to name a few. When I was going through that special process of coming up with a brand, I envisioned a salon that felt like home; from the decor to the client care I wanted that to be our truth…</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
    

<section class="ftco-gallery ftco-section">
	<div class="container">
   		<div class="row justify-content-center mb-5 pb-3">
         	<div class="col-md-7 heading-section ftco-animate text-center">
            	<h3 class="subheading">Gallery</h3>
            	<h2 class="mb-1">See the latest photos</h2>
          	</div>
        </div>
        <div class="row">
			<div class="col-md-4 col-x5-6">
					<img src="{% static 'images/spa-1.jpg' %}" class="img-responsive">
			</div>
		</div>
    </div>
</section>

{% endblock %}
